/* css/components/_search.css */

#search-container {
    margin-bottom: 25px;
    display: flex;
    gap: 10px;
    width: 96vw;
    max-width: 1400px;
    justify-content: center;
}

#search-input {
    padding: 12px 15px;
    border: 1px solid #5a5a5a; /* Pode ser substituído por var(--color-text-medium) */
    border-radius: 5px;
    background-color: var(--color-medium-bg);
    color: var(--color-text-light);
    font-size: 1em;
    width: 70%;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s ease;
}

#search-input::placeholder {
    color: var(--color-text-medium);
}

#search-input:focus {
    border-color: var(--color-secondary);
    box-shadow: 0 0 5px rgba(102, 204, 255, 0.5);
}

/* O estilo para #search-button será movido para _buttons.css, mas se fosse apenas para a busca, ficaria aqui. */