/* layout.css - Estilos para a estrutura principal dos containers */

#map-container {
    width: 98%;
    max-width: 1200px;
    height: auto;
    border: 2px solid #5a5a5a;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    background-color: #2a3a4a;
    padding: 25px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 500px;
    margin-bottom: 35px;
    position: relative;
}

#details-container {
    margin-top: 0;
    width: 98%;
    max-width: 1200px;
    background-color: #2a3a4a;
    padding: 25px;
    border: 2px solid #5a5a5a;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    min-height: 250px;
    box-sizing: border-box;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

#details-container.show {
    opacity: 1;
    transform: translateY(0);
}